<!DOCTYPE html><html lang="en"><head><title>proxier</title><meta charset="utf-8"><link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;display=swap" rel="stylesheet"></head><body><div id="APP"></div><script type="text/javascript" data-main="./index.js" src="../../../../node_modules/requirejs/require.js"></script><script> 
require.config({
 paths: {"api" : "../../../components/api/api",
 "application" : "../../../components/application/application",
 "button" : "../../../components/button/button",
 "constants" : "../../../components/constants/constants",
 "event" : "../../../components/event/event",
 "input-text" : "../../../components/input-text/input-text",
 "link" : "../../../components/link/link",
 "protocol" : "../../../components/protocol/protocol",
 "proxy" : "../../../components/proxy/proxy",
 "proxy-controller" : "../../../components/proxy-controller/proxy-controller",
 "proxy-create" : "../../../components/proxy-create/proxy-create",
 "proxy-detail" : "../../../components/proxy-detail/proxy-detail",
 "proxy-list" : "../../../components/proxy-list/proxy-list",
 "serializable" : "../../../components/serializable/serializable",
 "socket-client" : "../../../components/socket-client/socket-client",
 "table" : "../../../components/table/table",
    "@emotion/core": "../../../../node_modules/@emotion/core/dist/core.umd.min",
   "react": "../../../../node_modules/react/umd/react.development",
   "react-dom": "../../../../node_modules/react-dom/umd/react-dom.development",
}
});</script></body></html>